
/*
    ==============================
    Tipografia - Progetto Qualità
    ==============================
*/

body { font-family: 'Ubuntu', sans-serif; }
/*body {font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}*/

.description{
    padding:10px;
    margin:5px;
    color:#777;
}

.logo{
    font-style:italic;
    color:black; 
    font-size:2.0em;
}

h2.title {
    margin: 30px 0 0;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #999;
}