
/*
    ==============================
    Tipografia - Progetto Qualità
    ==============================
*/

body { font-family: 'Ubuntu', sans-serif; }
/*body {font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}*/

.description{
    padding:10px;
    margin:5px;
    color:#777;
}

.logo{
    font-style:italic;
    color:black; 
    font-size:2.0em;
}