/* Here's some tweaks for page number 3
-------------------------------------------------- */

iframe {
    display: block;
    height: 1024px;
    width: 100%;
    border: none;
}

#first-row {
    margin-top: 20px;
}

.controls input {
    margin-bottom: 12px;
}

.asteriskField {
    display: none;
}