{% extends "base.html" %}
{% block title %}{{ pagename }}{% endblock %}
{% block content %}
    <hr class="style-eight" />

    {% if nonews %}
            <h2 class="title">Questo cantiere &egrave; vuoto</h2>
                <p>Al momento <strong>non</strong> ci sono aggiornamenti in vista.</p>
                <p>Puoi <strong><a href="{% url notes %}">visitare le note</a></strong> oppure <strong><a href="{% url home %}">tornare alla home.</p>
            </div>
    {% else %}
        <div class="grid_12">
            <h2 class="title">{{ legend }}</h2>
        </div>
        <div class="grid_8 push_2">
            <table class="bordered">
                <thead><tr>
                    <th> ID </th>
                    <th> N. Versione </th>
                    <th> Data </th>
                </tr></thead>
                <tbody>
                    {% for release in releases %}
                        <tr>
                            <td><a href="{% url 'notes_detail' release.id %}">{{ release.id }}</a></td>
                            <td><a href="{% url 'notes_detail' release.id %}">{{ release.versione }}</a></td>
                            <td><a href="{% url 'notes_detail' release.id %}">{{ release.data_rilascio }}</a></td>
                        </tr>
                    </a>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="clear"></div>

        <hr class="style-eight" />

        <div class="grid_12">
            <a href="{% url 'home' %}"><input class="button small square custom" type="button" title="Fine" value="Fine Lettura" /></a>
            <a href="{% url 'notes_upcoming' %}"><input class="button small square custom" type="button" title="Sviluppo" value="In sviluppo" /></a>
        </div>
    {% endif %}

    <div class="clear"></div>
{% endblock %}