
/*
    ============================================================
    Stili personalizzati alla pagina di login - Progetto Qualità
    ============================================================
*/

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

ul.icons {
    list-style-type: none;
    text-indent: -0.75em;
}

#login-wrapper #login-top {
        width: 100%;
        padding: 140px 0 50px 0;
        text-align: center;
    }

#topbar {
    text-align: left;
    background: #dc4916;
    position: relative;
    zoom: 1;
    width: 100% !important;
    z-index: 6000;
    box-shadow: 0 0 10px black;
    padding: 140px 0 50px 0;
    text-align: center;
}

#topbar-inside {
    width: 960px;
    margin: 0 auto;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
}

#brand {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
    font-weight: 200;
    text-decoration: none;
}

.req {
    font-size: 27.5px; 
    margin: 17px 0;
    margin-left: 20px;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
