
/*
    ==============================
    Tipografia - Progetto Qualità
    ==============================
*/

.page-header {
    color: #5a5a5a;
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #A9A9A9;
}