{% extends "base.html" %}
{% block sitecss %} {% endblock %}
{% block extrahead %}

<style type="text/css">
    #login-wrapper #login-top {
        width: 100%;
        padding: 140px 0 50px 0;
        text-align: center;
    }

    #topbar {
        text-align: left;
        background: #dc4916;
        position: relative;
        zoom: 1;
        width: 100% !important;
        z-index: 6000;
        box-shadow: 0 0 10px black;
        padding: 140px 0 50px 0;
        text-align: center;
    }

    #topbar-inside {
        width: 960px;
        margin: 0 auto;
        position: relative;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
        text-align: center;
    }

    #brand {
        font-family: 'Ubuntu', sans-serif;
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        font-size: 1.5em;
        font-weight: 200;
        text-decoration: none;
    }
</style>
{% endblock %}

{% block title %}Login{% endblock %}

{% block top-menu %}{% endblock %}

{% block content %}	
<div class="grid_6 push_3">
    <div class="signin-box">
        <form action="{% url 'login' %}" method="POST" id="login-form">{% csrf_token %}
            <label>
                <strong class="email-label">Username</strong>
                <input {% if error_message %}class="form-error"{% endif %} type="text" name="username" />
            </label>
            <label>
                <strong class="passw-label">Password</strong>
                <input {% if error_message %}class="form-error"{% endif %} type="password" name="password"  />
            </label>
            {% if error_message %}
                <label>
                    <p class="errormsg">La password o il nome utente specificato non è corretto.</p> 
                </label>
            {% endif %}
            <input type="submit" class="btn" value="Accedi" />
            <label>
                <p>Accedi con la mail istituzionale (pippo.pluto@studenti.unipd.it).</p>
            </label>
        </form>
    </div>
</div>

<div class="clear"></div>
{% endblock %}

{% block footer %}{% endblock %}