{% extends "base.html" %}

{% block sitecss %} {% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/src/login.css">
{% endblock %}

{% block title %}Login{% endblock %}

{% block top-menu %}{% endblock %}

{% block content %}
<div class="grid_6">
    <div class="signin-box">
        <form action="{% url 'login' %}" method="POST" id="login-form">{% csrf_token %}
            <label>
                <strong class="email-label">Username</strong>
                <input {% if form.errors %}class="form-error"{% endif %} type="text" name="email" />
            </label>
            <label>
                <strong class="passwd-label">Password</strong>
                <input {% if form.errors %}class="form-error"{% endif %} type="password" name="password"  />
            </label>
            {% if form.errors %}
                <label>
                    <p class="errormsg">C'&egrave; stato un problema durante la tua autenticazione.</p> 
                </label>
            {% endif %}
            <input type="submit" class="btn" value="Accedi" />
            <label>
                <p>Puoi creare il tuo account qui: <a class="qlink" href="{% url 'registrazione' %}">registrazione</a>.</p>
            </label>
        </form>
    </div>
</div>

<div class="grid_6">
    <h1 class="req">Prerequisiti</h1>
    <div class="description">
    <ul class="icons">
        <li><i class="icon-ok"></i> Conoscere il proprio browser web</li>
        <li><i class="icon-ok"></i> Prendere visione della descrizione del progetto</li>
        <li><i class="icon-ok"></i> Accettare i termini di servizio</li>
    </ul>
    </div>
    <h1 class="req">Risorse</h1>
    <div class="description">
    <ul class="icons">
        <li><i class="icon-link"></i><a target="_blank" class="llink" href="http://www.whatbrowser.org/intl/it/">Il mio browser</a></li>
        <li><i class="icon-link"></i><a target="_blank" class="llink" href="http://db.tt/pWfWYz9m">Sommario progetto</a></li>
    </ul>
    </div>
</div>
<div class="clear"></div>

{% endblock %}

{% block footer %}{% endblock %}