{% extends "base.html" %}

{% block title %}Registrazione{% endblock %}

{% block top-menu %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="form-signin">
                <form action="{% url 'registrazione' %}" method="POST">{% csrf_token %}
                    <fieldset>
                        <legend>Registrazione Utente</legend>
                        <br />
                    <div>
                    {% for field in form %}
                        <label>
                            {{ field.label }}
                        </label>
                        {{ field }}
                    {% endfor %}
                    </div>
                    {% if form_error %}
                        <div class="control-group error">
                          <div class="controls">
                            <span class="help-inline">C'&egrave; stato un problema con la tua registrazione.</span>
                          </div>
                        </div>
                    {% endif %}
                    </fieldset>
                    <button class="btn" type="submit">Conferma dati</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}