<!DOCTYPE html>
<html lang="it">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Flavio Marcato" />
<meta name="copyright" content="Flavio Marcato's app." />
<meta name="description" content="Questo è una pagian per il progetto Qualita." />
<title>
    Qualit&agrave; - {% block title %} Base {% endblock %}
</title>

<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<style type="text/css">
    #container
    {
        display:none;   
    }
</style>

<link rel="shortcut icon" href="{{ STATIC_URL }}img/qualita-favicon.ico">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
{
    // fade in content.
    $( '#container' ).fadeIn("slow");
});
</script>

{% block extrahead %} {% endblock %}

</head>

<body>

<div id="topbar">
    <div id="topbar-inside">
        <a href="{% url 'home' %}"><span id="logo-head">P</span><span id="logo-tail">rogetto</span> <span id="logo-head">Q</span><span id="logo-tail">UALIT&Agrave;</span></a>
        {% block top-menu %}
            <div id="topbar-menu">
                <a class="btn" href="{% url 'logout' %}">
                    <i class="icon-signout"></i> Esci</a>
            </div>
        {% endblock %}
    </div>
</div>

<script type="text/javascript">
    <!--//--><![CDATA[//><!--
    document.write( '<div id="container">' );
    //--><!]]>
</script>
<div class="container_12" style="height:100%;">


{% block content %}
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
        <div class="grid_12">
            <p class="alert alert-{{ message.tags }}">
                {% ifequal message.tags 'success' %} <i class="icon-ok"></i>{% endifequal %}
                {% ifequal message.tags 'info' %} <i class="icon-info-sign"></i>{% endifequal %}
                {{ message }}
            </p>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="clear"></div>

    <div class="grid_12">
        <div id="botbar">
            <div id="botbar-inside">
                <ul>
                    <li>&copy; 2013 FM</li>
                    <li>Idea: LP</li>
                <ul>
            </div>
        </div>
    </div> 
{% endblock %}

</div>

<script type="text/javascript">
<!--//--><![CDATA[//><!--
document.write( '</div>' );
//--><!]]>
</script>

</body>
