<!DOCTYPE html>
<html>
  <head>
    <title>Qualit&agrave; - {% block title %} Base {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le CSS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    
    <link href="{{ STATIC_URL }}qualita/css/extra.css" rel="stylesheet" media="screen">
    <!--
      Disabled until redisign
      <link href="{{ STATIC_URL }}qualita/img/qualita.ico" rel="shortcut icon">
    -->
    <style type="text/css">
      #qualita {
          display:none;   
      }

      p {
         text-align: justify; 
      }

      a:hover {
        text-decoration:none;
      }

    </style> 

    <!-- Le scripts -->
    <script src="{{ STATIC_URL }}qualita/js/jquery-1.10.1.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}qualita/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
      $(document).ready(function() 
      {
          $("#qualita").fadeIn("slow");
      }); 
    </script>

  {% block extrahead %}{% endblock %}
  </head>
  <body>

  <!-- Le navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      
      <div class="navbar-inner">
        <div class="container">
        {% block topbar %}
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="brand" href="{% url 'home' %}">Progetto Qualit&agrave;</a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              {% if user.is_superuser %}<li><a href="/admin"><i class="icon-puzzle-piece"></i> Admin</a></li>{% endif %}
              {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">Interrogazioni <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% for int in interrogazioni %}
                      <li><a href="{% url 'valutazioni' int.slug int.id %}">{{ int.titolo }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li><a href="{% url 'logout' %}"><i class="icon-signout"></i> Logout</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        {% endblock %}
        </div>
      </div>
      
    </div>

  <!-- Le header -->
    {% block header %}
    {% endblock %}

  <!-- Le content -->
  <div class="content" id="qualita">
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <div class="container-fluid">
    {% block content_fluid %}
    {% endblock %}
    </div>
  </div>

  {% block footer %}
    <!-- Le footer -->
    <footer class="footer">
      <div class="container">
        <p>Un lavoro di <a href="https://twitter.com/flamarcato" target="_blank">@flamarcato</a> - &copy; {{ copyright }}</p>
      </div>
    </footer>
  {% endblock %}
  
  </body>
</html>