{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <h2 class="title">Interrogazioni</h2>
    <hr class="style-eight" />

    <div class="grid_6 push_3">
    <div id="mainmenu">
        <ul>
            {% for int in interrogazioni %}
                <li>
                    <a href="{% url 'valutazioni' int.id %}">{{ int.titolo }}</a>
                    <p class="description">{{ int.descrizione }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}