{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="grid_12">
        <h2 class="title">Interrogazioni</h2>
    </div>

    <div class="grid_6 push_3">
    <div id="mainmenu">
        <dl class="icons">
            {% for int in interrogazioni %}
                <dt>
                    <i class="icon-arrow-right"></i> 
                    <a class="qlink" href="{% url 'valutazioni' int.id %}">{{ int.titolo }}</a>
                </dt>
                <dd><span class="description">{{ int.descrizione }}</span></dd>
            {% endfor %}
        </dl>
    </div>
    </div>
{% endblock %}