{% extends 'base.html' %}

{% block title %} Interrogazioni {% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <div class="page-header">
                <h1>Interrogazioni</h1>
            </div>
        </div>
    </div>

    {% for message in messages %}
        <div class="span8 offset2">
            <p class="alert alert-{{ message.tags }}" style="text-align: center;">
                {% ifequal message.tags 'success' %} <i class="icon-ok"></i>{% endifequal %}
                {% ifequal message.tags 'info' %} <i class="icon-info-sign"></i>{% endifequal %}
                {{ message }}
            </p>
        </div>
    {% endfor %}
        
    <div class="row">
        <div class="span8 offset2">
            <p>
                Qui sotto trovate una lista di interrogazioni: pensatele come
                interrogazioni da sottomettere ad un motore di ricerca. Scegliete
                quella che vi interessa di più cliccandoci sopra. Tenete presente
                che in seguito vi sarà sempre consentito sceglierne anche altre.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span8 offset2">
            <ul class="nav nav-list">
            {% for int in interrogazioni %}
                <li>
                    <a href="{% url 'valutazioni' int.id %}"><i class="icon-arrow-right"></i> {{ int.titolo }}</a>
                    <p style="margin-left: 20px;"> {{ int.descrizione }}.</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}