{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block topbar %}
    <a class="brand hidden-desktop" href="{% url 'home' %}">Progetto Qualit&agrave;</a>
{% endblock %}

{% block header %}
    <span class="hidden-phone">
        <header class="jumbotron" id="overview">
          <div class="container">
            <h2>Progetto Qualit&agrave;</h2>
            <p class="lead">              
                Benvenuti! Questo sito è stato realizzato per un progetto di ricerca. Ha lo scopo di raccogliere valutazioni degli utenti su
                rilevanza e qualità di un insieme di pagine web. 
                Se siete interessati a contribuire al progetto, non esitate a registrarvi seguendo il link qui sotto. 
                L'uso dell'applicazione è molto semplice, e sarete voi a decidere il tempo che vorrete dedicarci. Grazie a tutti quelli che vorranno contribuire!
            </p>
          </div>
        </header>
    </span>

{% endblock %}

{% block content %}
    <div class="form-signin">
        <form action="{% url 'login' %}" method="POST" id="login-form">{% csrf_token %}
            <fieldset>
                <legend>Accesso Web App</legend>
                <br />
                {% if form.errors %}
                <div class="control-group error">
                  <div class="controls">
                    <input class="input-block-level" type="text" name="email" placeholder="Indirizzo Email" id="emailError">
                    <input class="input-block-level" type="password" name="password" placeholder="Password" id="pwdError">
                    <span class="help-inline">L'autenticazione &egrave; fallita.</span>
                  </div>
                </div>
                    {% else %}
                    <input class="input-block-level" type="text" name="email" placeholder="Indirizzo Email">
                    <input class="input-block-level" type="password" name="password" placeholder="Password">
                {% endif %}
            </fieldset>
            <button class="btn btn-warning" type="submit">Login</button>
        </form>
        <p>Ottenete le credenziali alla <a href="{% url 'registrazione' %}"><i class="icon-key"></i> pagina di registrazione</a>.</p>
    </div>
{% endblock %}