{% extends 'base.html' %}
{% load core_extras %}
{% load crispy_forms_tags %}

{% block title %} Valutazioni {% endblock %}

{% block extrahead %}

    <link href="{{ STATIC_URL }}qualita/css/valutazioni.css" rel="stylesheet" media="screen">

    <script type="text/javascript">
        $(function ()
        { 
            $(".pophelp").popover({ trigger: "hover" });
        }
        );
    </script>
    
{% endblock %}

{% block content_fluid %}

{% for url in url_list %}
    <div class="row-fluid">

        <div class="span8 offset2">
            <div class="page-header">
                <h2 class="text-center">
                    {{ interrogazione|title }} <i class="icon-chevron-right"></i> <a target="_blank" href="{{ url }}">{{ url }}</a>
                </h2>
            </div>
        </div>
        
        {% for message in messages %}
            <div class="span8 offset2">
                <div class="alert alert-{{ message.tags }} text-center">
                    {% ifequal message.tags 'success' %} <i class="icon-ok"></i>{% endifequal %}
                    {% ifequal message.tags 'info' %} <i class="icon-info-sign"></i>{% endifequal %}
                    {{ message }}
                    <button type='button' class='close' data-dismiss='alert'>×</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row-fluid">
        <div class="span3 left-panel">  
            <p>
                Quali sono la rilevanza e la qualità della pagina web presentata qui 
                sotto, rispetto all'interrogazione da voi scelta? 
                Esprimete le vostre valutazioni inserendo un voto da 1 (pessimo)
                a 5 (ottimo) per ciascun punto presente nella lista.
            </p>
            <p>
                Una volta terminata la valutazione di questa pagina,
                ricordatevi di cliccare su <strong>Conferma</strong> per inserire i vostri
                voti; cliccate invece su una freccia <code><i class="icon-arrow-left"></i></code> o 
                <code><i class="icon-arrow-right"></i></code> se desiderate valutare
                un'altra pagina senza inserire i vostri voti per questa.
             </p>
            <p>
                In caso di ripensamenti, potrete sempre modificare le vostre
                valutazioni ritornando sui vostri passi.
            </p>

            <div class="pagination pagination-centered">
                <ul>
                    {% if url_list.has_previous %}
                        <li><a href="?pagina={{ url_list.previous_page_number }}"><i class=" icon-arrow-left"></i></a></li>
                    {% endif %}
                        <li><a href="#">pagina {{ url_list.number }} di {{ url_list.paginator.num_pages }}</a></li>
                    {% if url_list.has_next %}
                        <li><a href="?pagina={{ url_list.next_page_number }}"><i class="icon-arrow-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>

            <div id="fixadent">
                <form action="{% url 'votazioni' interrogazione.pk interrogazione.slug url.pk %}?pagina={% if url_list.has_next %}{{ url_list.next_page_number }}{% else %}{{ url_list.number }}{% endif %}" method="POST">{% csrf_token %}
                    {% crispy formset formset.form.helper %}
                </form> 
            </div>
        </div>

        <div class="span9 hidden-phone right-panel">
            {% if url.percorso_su_disco %}
                <iframe id="qualita-frame" name="qualita-frame" src="{{ MEDIA_URL }}{{ url.get_percorso }}" height="100%" width="100%"></iframe>
            {% else %}
                <iframe id="qualita-frame" name="qualita-frame" src="{{ url }}" frameborder="0" height="100%" width="100%"></iframe>
            {% endif %}
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block footer %}{% endblock %}